{% extends "base.html" %}

{% block content %}
		<div align="center">
<div class="container pt-3">
		<h2 id="Header" class="text-danger">What inside this EGG? (Кто сидит в яйце)</h2>
</div>
		{% if current_user.is_authenticated %}
		<h2><i>Hi {{ current_user.username }}!</i></h2>
		{% endif %}
		<img id="fullEgg" src="{{ url_for('static', filename='img/egg.jpg') }}" style="width:500px" class="rounded" alt="EGG">
		<h4>Try to break it if you want to know</h4>

		<script src="{{ url_for('static', filename='js/egg.js')}}"></script>
		<p id="ticksField">Постучал по яйцу 0 раз</p>
<!--
		<button onclick="document.getElementById('demo').innerHTML = Date()">Show date</button>
		<button onclick="showEgg()">Turn On/Off the EGG!</button>
		<button type="button" onclick="changeText()">Change Text</button>
					<a href="#" class="myButton" onclick="changeEgg()">Стукнуть</a>-->

<div class="container pt-3">
		<button type="button" class="btn btn-warning" onclick="showDate()">Show Date</button>
		<button type="button" class="btn btn-warning" onclick="showEGG()">Turn On/Off the EGG!</button>
		<button type="button" class="btn btn-warning" onclick="changeEgg()">Стукнуть</button>
		<button type="button" class="btn btn-warning" onclick="changeText()">Change Text</button>

</div>





		</div>
		<p id="demo"></p>

 {% endblock %}
